{% extends 'main/base.html' %}
{% block content %}
<div class="col">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">
                Офис СПб<br>
                Офис МСК

            </p>

        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <form method="post">
                    <h2>Напишите нам</h2>
                    {% csrf_token %}
                    <input class="form-control mb-2" name="name"/>
                    <input class="form-control mb-2" name="email"/>
                    <textarea class="form-control mb-2" name="message">
                                </textarea>
                    <button type="submit" class="btn btn-primary form-control">Отправить</button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}