{% extends 'main/base.html' %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-outline-primary" href="{% url 'main:create_student' %}">Добавить студента</a>
</div>
<br>
                {% for object in object_list %}
                <div class="col">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <p class="card-text">{{ object }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Добавить</button>
                                    <a href="{% url 'main:update_student' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
{% endblock %}
